/* Custon Style */

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.img-grayscale{
    filter: grayscale(1);
}

.img-bg-call2action {
    background-image: linear-gradient(to bottom, rgba(13, 110, 253, 1), rgba(74, 168, 250, 0.4)), url('../img/CTA.jpg');
    background-position: center, center;
    background-repeat: no-repeat;
}